@charset "UTF-8";
/* Reset CSS simplifié */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background: transparent;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  width: 100%;
  line-height: 1;
  background-color: #15141F;
  display: flex;
  justify-content: space-around;
  align-items: start;
  min-height: 100vh;
  margin: 0;
}

#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Additional styling */
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h2 {
  margin-top: 30px;
  margin-bottom: 30px;
  color: white;
}
h2 span {
  color: #fa7157;
}

nav {
  width: 100%;
  background-color: #15141F;
  position: fixed;
  bottom: 0;
  z-index: 10;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
}
nav img {
  cursor: pointer;
  transition: ease-in 0.3s;
}
nav img:hover {
  scale: 1.1;
}

.spotlight-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.spotlight-section .spotlight {
  position: relative;
  width: 80%;
  aspect-ratio: 16/9;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10%;
  border: rgba(148, 148, 148, 0.179) 1px solid;
}
.spotlight-section .spotlight .control {
  width: 80%;
  max-height: 40%;
  border-radius: 25px;
  font-size: 50%;
  position: absolute;
  bottom: 25px;
  left: 25px;
  display: flex;
  flex-direction: row;
}
.spotlight-section .spotlight .control .play-logo {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.spotlight-section .spotlight .control .data-div {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
}
.spotlight-section .spotlight .control .data-div h3 {
  padding: 5px;
  color: rgb(223, 223, 223);
}
.spotlight-section .spotlight .control .data-div h2 {
  margin-top: 0;
}

.trending-section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-top: 20px;
  margin-bottom: 30px;
}
.trending-section :where(.previous-button, .next-button) {
  position: relative;
  background-color: transparent;
  border: none;
  font-size: 4rem;
  cursor: pointer;
  outline: none;
  z-index: 3;
  color: aliceblue;
}
.trending-section .previous-button {
  left: 40px;
}
.trending-section .previous-button:hover {
  color: #fa7157;
}
.trending-section .next-button {
  right: 40px;
}
.trending-section .next-button:hover {
  color: #fa7157;
}
.trending-section .carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100vw;
  max-width: 1200px;
  position: relative;
  padding: 0 5vw;
}
.trending-section .carousel .trending-card {
  min-width: 300px;
  height: 450px;
  background-size: cover;
  background-position: center;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  border-radius: 15px;
  margin: 0 2vw;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.trending-section .carousel .trending-card.active {
  position: relative;
  transform: scale(1);
  z-index: 3;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.trending-section .carousel .trending-card.active .note-div {
  width: 25%;
  align-self: flex-end;
  margin: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  background: rgba(163, 162, 162, 0.35);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.trending-section .carousel .trending-card.active .note-div p {
  font-size: 10px;
  margin: 3px;
}
.trending-section .carousel .trending-card.active .note-div .note {
  font-size: 15px;
  margin-left: 5px;
}
.trending-section .carousel .trending-card.active .trending-card-data {
  width: 80%;
  padding: 10px 20px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.trending-section .carousel .trending-card.active .trending-card-data p {
  font-weight: 400;
  color: white;
  text-align: center;
  margin: 0;
}
.trending-section .carousel .trending-card.prev, .trending-section .carousel .trending-card.next {
  transform: scale(0.8);
  opacity: 0.5;
}
.trending-section .carousel .trending-card.prev {
  left: -50px;
}
.trending-section .carousel .trending-card.next {
  right: -50px;
}
@media (max-width: 768px) {
  .trending-section .carousel {
    padding: 0 5vw;
  }
  .trending-section .carousel .trending-card {
    min-width: 200px;
    height: 300px;
  }
  .trending-section .carousel .trending-card .trending-card-data {
    margin-bottom: 15px !important;
  }
  .trending-section .carousel .trending-card.prev, .trending-section .carousel .trending-card.next {
    transform: scale(0.7);
  }
}

.glass {
  background: rgba(76, 76, 76, 0.35);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(3.5px);
  padding: 5px;
}

.searchBar-section {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.searchBar-section :where(button, input[type=text]) {
  background-color: #211F30;
}
.searchBar-section button {
  font-size: medium;
  height: 40px;
  border: none;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  color: white;
}
.searchBar-section input[type=text] {
  width: 300px;
  height: 40px;
  padding: 1px;
  outline: none;
  border: none;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  color: white;
}

.category-nav {
  position: initial;
}
.category-nav ul {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: baseline;
  gap: 15px;
  overflow-x: scroll;
}
.category-nav ul li {
  color: white;
  cursor: pointer;
  transition: ease-in 0.3s;
}
.category-nav ul li:hover {
  scale: 1.1;
}
.category-nav ul li li {
  width: 30%;
  height: 5px;
  background-color: #fa7157;
}

.movie-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  row-gap: 50px;
  padding: 15px;
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 50px;
}
.movie-list .card {
  width: 33%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 550px;
}
.movie-list .card .picture-card {
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 25px;
}
.movie-list .card .little-picture-card {
  width: 100%;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 25px;
}
.movie-list .card p {
  color: white;
}
.movie-list .pagination {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.movie-list .pagination div {
  width: 30px;
  height: 30px;
  background-color: black;
  color: white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: ease-in 0.3s;
  padding: 5px;
}
.movie-list .pagination div:hover {
  background-color: #fa7157;
}

@media (max-width: 768px) {
  .card {
    width: 40% !important;
    height: 250px !important;
  }
  .card .picture-card {
    width: 100% !important;
    height: 200px !important;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;
  }
  .card .little-picture-card {
    width: 100% !important;
    height: 150px !important;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;
  }
}