

.category-nav {
  position: initial;
   
    ul {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: baseline;
        gap: 15px;
        overflow-x: scroll;
        li {
            color: white;
            cursor: pointer;
            transition: ease-in 0.3s;
            &:hover {
                scale: 1.1;
            }
        }
    }
}

.movie-list {
    width: 100%;
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    row-gap: 50px;
    padding: 15px;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 50px;
    

    .card {
        width: 33%;
        background-repeat: no-repeat;
        background-size: cover;
        height: 550px;

        
        .picture-card {
            width: 100%;
            height: 500px;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 25px;
        }

        .little-picture-card {
            width: 100%;
            height: 400px;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 25px;
        }
 
        p {
            color: white;
        }
    }

    .pagination {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;

        div {
            width: 30px;
            height: 30px;
            background-color: black;
            color: white;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: ease-in 0.3s;
            padding: 5px;
            &:hover {
                background-color: #fa7157;
            }
        }

       
    }
}

@media (max-width: 768px) {
    .card {
        width: 40%!important;
        height: 250px !important; 
        .picture-card {
            width: 100%!important;
            height: 200px!important;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 25px;
        }

        .little-picture-card {
            width: 100%!important;
            height: 150px!important;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 25px;
        }
 
    }
  }