.spotlight-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    .spotlight {
        position: relative;
        width: 80%;
        aspect-ratio: 16/9;
        background-repeat: no-repeat;
        background-position: center;
        background-size:cover;
        border-radius: 50px;  

        .control {  
            width: 80%;
            
            border-radius: 25px;
            
            position: absolute;
            bottom: 25px;
            left: 25px;
            display: flex;
            flex-direction: row;
            .play-logo {
                width: 25%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .data-div {
                width: 75%;
                height: 100%;
                text-align: center; 
                padding-top: 25px;
                h3 {
                    color: rgb(172, 172, 172);
                }
            }
            
        }
    }
}