.trending-section {
    width: 800px;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 15px;
    align-items: center;
    overflow-x: hidden;
    margin-left: 25%;
    margin-right: 0%;
    .trending-card {
        width: 75%;
        height: 70%;
        border-radius: 25px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .selected-movie {
        width: 90%;
        height: 75%;
    }
}

button {
    margin-bottom: 50px;
}