.trending-section  {
    width: 80%;
    display: flex;
    align-items: center;
    margin-top: 50px;
    .carousel {
        display: flex;
        align-items: center;
        overflow: hidden;
        width: 90%;

        .trending-card {
            transition: transform 0.5s ease;
          }
          
          .trending-card.prev, .trending-card.next {
            width: 150px;
            opacity: 0.5;
          }
          
          .trending-card .active {
            width: 80%;
            opacity: 1;
          }
      }

      button {
        border: none;
        cursor: pointer;
      }
  }
  
  
  
 
  

  